* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 2px solid #dfeb3d;
}

.logo { 
    color: #dfeb3d;
}

.menu a {
    color: #bac42e;
}

.menu a:hover {
    color: #efff0b
}