* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.menu-mobile {
    display: none;
}

header {
    background-color: #ff8700;
    padding: 20px 0;
    border-bottom: 1px solid #e47e0aee;
}

.logo { 
    color: #FFFFFF;
}

.logo h2 { 
    font-weight: bolder;
    font-size: 22px;
}

.menu{
    width: 80%;
    text-align: right;
}

.menu a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    /* transition: 0.4s; */
}

.menu a:hover {
    color: #ffffffd2;
}

.btn-menu a {
    background-color: #e47e0aee;
    display: inline-block;
    padding: 8px 16px;
    color: #e47e0a;
    border-radius: 6px;
}

.btn-menu {
    background-color: #4b7ebf;
    display: inline-block;
    padding: 8px 16px;
    color: #ffffff;
    border-radius: 6px;
    text-decoration: none;
}

.btn-menu:hover {
    background-color: #4b7dbfe5;
    color: #ffffff;
}

.menu .btn-menu:hover {
    background-color: #4b7dbfe5;
    color: #ffffff;
}

/*
Section Main   
*/

section.main {
    background-color: url('');
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main__cta {
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

.main__cta h2{
    color: #ff8700;
    font-size: 40px;
}

.main__cta p {
    color: grey;
    font-size: 19px;
    margin: 10px 0;
}

.main__cta button {
    background-color: #ff8700;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 6px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

.diferenciais {
    display: flex;
    flex-wrap: wrap;
}

/*

.diferencial-single {
    border-radius: 10px;
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
}

.diferencial-single i {
    color: #f6ff71;
    font-size: 23px;
}

.diferencial-single h2 {
    color: #f6ff71;
    margin: 10px 0;
    font-size: 17px;
}

.diferencial-single p {
    color: grey;
    font-size: 14px;
    line-height: 30px;
}

*/

.diferenciais-single {
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.116);
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
}

.diferenciais-single i {
    color: #ff8800ea;
    font-size: 23px;
}

.diferenciais-single h2 {
    color: #ff8700;
    margin: 10px 0;
    font-size: 17px;
}

.diferenciais-single p {
    color: grey;
    font-size: 14px;
    line-height: 30px;
}

section.sobre {
    padding: 80px 0;
}

.chamada-sobre {
    width: 100%;
    text-align: center;
}

.chamada-sobre h2 {
    color:#ff8800ea;
    text-transform: uppercase;
}

.chamada-sobre p {
    font-size: 14px;
    color: gray;
    margin: 10px 0;
}

 /*.conteudo-sobre {
    display: flex;
    flex-wrap: wrap;
} /*
    
 /* .conteudo-sobre p {
    width: 40%;
    margin-right: 2%;
    color: #444444;
} */

.conteudo-sobre p {
    margin: 0 20px;
}

.conteudo-sobre span {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.conteudo-sobre {
    display: flex;
}

.conteudo-sobre i {
    color: #ff8700;
}

.section.conquistas {
    background-color: #f8fbfe;
    padding: 20px 0;
}

.conquista-single {
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color:#ff8800ea;
}

.conquista-single h2 {
    font-size: 30px;
}

.menu-items {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #e47e0aee;
    display: block;
    opacity: 0;
    transition: 1s;
}

.menu-items.show {
    opacity: 1;
}

.menu-items.hidde {
    opacity: 0;
}

.menu-items a {
    display: block;
    text-decoration: none;
    color: #ff8700;
}

section.sobre-empreendedor {
    padding: 40px 0;
}

.sobre-empreendedor-img {
    width: 35%;    
}

.sobre-empreendedor-img img{max-width: 50%;}

.sobre-empreendedor-content {
    width: 50%;
    padding: 0 50px;
}

.sobre-empreendedor-content h2 {
    color: #ff8800ea;
    margin-bottom: 20px;
}

.conquistas-single img {
    max-width: 100%;
}

.sobre-empreendedor-content p {
    color: #444;
    font-size: 14px;
    margin-bottom: 14px;
}

@media screen and (max-width:768px){
    .diferencial-single {
        width: 100%;
        margin-bottom: 20px;
    }

    .menu {
        display: none;
    }

    .logo {
        width: 20%;
    }

    .menu-mobile {
        width: 80%;
        text-align: right;
        display: block;
    }

    .menu-mobile i {
        cursor: pointer;
        font-size: 23px;
        margin-top: 8px;
    }
    .conteudo-sobre p {width: 100%; margin: 20px 20px;}
}