* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #F8F9FA;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200) ;
}

.logo { 
    color: #dfeb3d;
}

.logo h2{ 
    font-weight: normal;
    font-size: 22px;
}

.menu {
    width: 80%;
    text-align: right;
}

.menu a {
    color: #bac42e;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover {
    color: #efff0b;
}

.menu .btn-menu {
    background-color: #efff0b;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
}

.menu .btn-menu:hover {
    background-color: #f6ff71;
    color: #ffffff;
}

/*
Section Main   
*/

section.main {
    background-color: url('');
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main__cta {
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

.main__cta h2{
    color: #dfeb3d;
    font-size: 40px;
}

.main__cta p {
    color: grey;
    font-size: 19px;
    margin: 10px 0;
}

.main__cta button {
    background-color: #efff0b;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 6px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

.diferenciais {
    display: flex;
}

.diferencial-single {
    background-color: white;
    width: 24%;
    margin-right: 1%;
    padding: 50px 20px;
}
